.button--dark {
  position: relative;
  width: 222px;
  height: 71px;
  padding: 23px 49px 23px 49px;
  border: none;
  background-color: var(--text);
  color: var(--background-main);
  font-family: TT Hoves;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}
.button--dark:hover,
:focus {
  background-color: var(--background-main);
  color: var(--background-third);
  box-shadow: 5px 5px 5px var(--text);
}
.button--dark:after {
  display: block;
  width: 24px;
  height: 24px;
  content: "";
  position: absolute;
  top: 24px;
  right: 30px;
  background-image: url(https://gregory0401.github.io/task_test/image/arrow-2-right-long.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
