.projects {
  height: 765px;
  margin-bottom: 120px;
  box-sizing: border-box;
  position: relative;

  &__h2 {
    font-family: TT Hoves;
    font-size: 64px;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-third);
    margin-bottom: 60px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
  }
  &__centr {
    position: absolute;
    top: 178px;
    left: 60px;
    z-index: 100;
  }
  &__h3 {
    font-family: TT Hoves;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--background-main);
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  .projects--button {
    width: 150px;
    padding: 6px 0 6px 0;
    height: 24px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--background-main);
  }
  .projects--button::after {
    display: block;
    width: 24px;
    height: 24px;
    content: "";
    position: absolute;
    top: 137px;
    right: 279px;
    background-image: url(../../image/arrow-2-right-long.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .projects--button:hover,
  :focus {
    box-shadow: 5px 5px 5px var(--text);
  }
}
.projects--btn {
  margin-left: 950px;
}
.projects--btn:hover,
:focus {
  box-shadow: 5px 5px 5px var(--text);
}
